<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Category</th>
          <th>BIO</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList$ | async">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.category }}</td>
          <td>{{ user.bio }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
